{% set virl = {
    'hostname' : salt['pillar.get']('virl:hostname', salt['grains.get']('hostname', 'virl')),
	'domain_name' : salt['pillar.get']('virl:domain_name', salt['grains.get']('domain_name', 'virl.info')),
	'dhcp' : salt['pillar.get']('virl:using_dhcp_on_the_public_port', salt['grains.get']('using_dhcp_on_the_public_port', True )),
    'using_dhcp_on_the_public_port' : salt['pillar.get']('virl:using_dhcp_on_the_public_port', salt['grains.get']('using_dhcp_on_the_public_port', True )),
	'publicport' : salt['pillar.get']('virl:public_port', salt['grains.get']('public_port', 'eth0')),
	'public_ip' : salt['pillar.get']('virl:static_ip', salt['grains.get']('static_ip', '127.0.0.1' )),
	'public_network' : salt['pillar.get']('virl:public_network', salt['grains.get']('public_network', '172.16.6.0' )),
	'public_netmask' : salt['pillar.get']('virl:public_netmask', salt['grains.get']('public_netmask', '255.255.255.0' )),
	'public_gateway' : salt['pillar.get']('virl:public_gateway', salt['grains.get']('public_gateway', '172.16.6.0' )),
	'proxy' : salt['pillar.get']('virl:proxy', salt['grains.get']('proxy', False)),
	'http_proxy' : salt['pillar.get']('virl:http_proxy', salt['grains.get']('http_proxy', 'https://proxy-wsa.esl.cisco.com:80/')),
	'ks_token' : salt['pillar.get']('virl:keystone_service_token', salt['grains.get']('keystone_service_token', 'fkgjhsdflkjh')),
	'ntp_server' : salt['pillar.get']('virl:ntp_server', salt['grains.get']('ntp_server', 'pool.ntp.org')),
	'fdns' : salt['pillar.get']('virl:first_nameserver', salt['grains.get']('first_nameserver', '8.8.8.8' )),
	'sdns' : salt['pillar.get']('virl:second_nameserver', salt['grains.get']('second_nameserver', '8.8.4.4' )),
	'salt_master' : salt['pillar.get']('virl:salt_master', salt['grains.get']('salt_master', 'us-1.virl.info,us-2.virl.info,us-3.virl.info,us-4.virl.info')),
    'salt_master_default' : 'us-1.virl.info,us-2.virl.info,us-3.virl.info,us-4.virl.info',
    'salt_master_tcp' : salt['pillar.get']('virl:salt_master_tcp', salt['grains.get']('salt_master_tcp','us-1-tcp.virl.info,us-2-tcp.virl.info,us-3-tcp.virl.info,us-4-tcp.virl.info')),
    'salt_master_tcp_default' : 'us-1-tcp.virl.info,us-2-tcp.virl.info,us-3-tcp.virl.info,us-4-tcp.virl.info',
    'salt_id' : salt['pillar.get']('virl:salt_id', salt['grains.get']('salt_id', 'virl')),
    'salt_transport_tcp' : salt['pillar.get']('virl:salt_transport_tcp', salt['grains.get']('salt_transport_tcp', false)),
    'salt_domain' : salt['pillar.get']('virl:salt_domain', salt['grains.get']('salt_domain', 'virl.info')),
	'masterless' : salt['pillar.get']('virl:salt_masterless', salt['grains.get']('salt_masterless', false)),
    'l2_port' : salt['pillar.get']('virl:l2_port', salt['grains.get']('l2_port', 'eth1' )),
    'l2_network' : salt['pillar.get']('virl:l2_network', salt['grains.get']('l2_network', '172.16.1.0/24' )),
    'l2_network_iponly' : salt['pillar.get']('virl:l2_network', salt['grains.get']('l2_network', '172.16.1.0/24' )).split('/')[0],
    'l2_mask' : salt['pillar.get']('virl:l2_mask', salt['grains.get']('l2_mask', '255.255.255.0' )),
    'l2_gateway' : salt['pillar.get']('virl:l2_network_gateway', salt['grains.get']('l2_network_gateway', '172.16.1.254' )),
    'l2_start_address' : salt['pillar.get']('virl:l2_start_address', salt['grains.get']('l2_start_address', '172.16.1.50' )),
    'l2_end_address' : salt['pillar.get']('virl:l2_end_address', salt['grains.get']('l2_end_address', '172.16.1.253' )),
    'l2_address' : salt['pillar.get']('virl:l2_address', salt['grains.get']('l2_address', '172.16.1.254/24' )),
    'ffdns' : salt['pillar.get']('virl:first_flat_nameserver', salt['grains.get']('first_flat_nameserver', '8.8.8.8' )),
    'sfdns' : salt['pillar.get']('virl:second_flat_nameserver', salt['grains.get']('second_flat_nameserver', '8.8.4.4' )),
    'l2_port2_enabled' : salt['pillar.get']('virl:l2_port2_enabled', salt['grains.get']('l2_port2_enabled', 'True' )),
    'l2_port2' : salt['pillar.get']('virl:l2_port2', salt['grains.get']('l2_port2', 'eth2' )),
    'l2_network2' : salt['pillar.get']('virl:l2_network2', salt['grains.get']('l2_network2', '172.16.2.0/24' )),
    'l2_network2_iponly' : salt['pillar.get']('virl:l2_network2', salt['grains.get']('l2_network2', '172.16.2.0/24' )).split('/')[0],
    'l2_mask2' : salt['pillar.get']('virl:l2_mask2', salt['grains.get']('l2_mask2', '255.255.255.0' )),
    'l2_gateway2' : salt['pillar.get']('virl:l2_network_gateway2', salt['grains.get']('l2_network_gateway2', '172.16.2.1' )),
    'l2_start_address2' : salt['pillar.get']('virl:l2_start_address2', salt['grains.get']('l2_start_address2', '172.16.2.50' )),
    'l2_end_address2' : salt['pillar.get']('virl:l2_end_address2', salt['grains.get']('l2_end_address2', '172.16.2.253' )),
    'l2_address2' : salt['pillar.get']('virl:l2_address2', salt['grains.get']('l2_address2', '172.16.2.254/24' )),
    'ff2dns' : salt['pillar.get']('virl:first_flat2_nameserver', salt['grains.get']('first_flat2_nameserver', '8.8.8.8' )),
    'sf2dns' : salt['pillar.get']('virl:second_flat2_nameserver', salt['grains.get']('second_flat2_nameserver', '8.8.4.4' )),
    'l3_port' : salt['pillar.get']('virl:l3_port', salt['grains.get']('l3_port', 'eth3' )),
    'l3_network' : salt['pillar.get']('virl:l3_network', salt['grains.get']('l3_network', '172.16.3.0/24' )),
    'l3_network_iponly' : salt['pillar.get']('virl:l3_network', salt['grains.get']('l3_network', '172.16.3.0/24' )).split('/')[0],
    'l3_mask' : salt['pillar.get']('virl:l3_mask', salt['grains.get']('l3_mask', '255.255.255.0' )),
    'l3_network_gateway' : salt['pillar.get']('virl:l3_network_gateway', salt['grains.get']('l3_network_gateway', '172.16.3.1' )),
    'l3_floating_start_address' : salt['pillar.get']('virl:l3_floating_start_address', salt['grains.get']('l3_floating_start_address', '172.16.3.50' )),
    'l3_floating_end_address' : salt['pillar.get']('virl:l3_floating_end_address', salt['grains.get']('l3_floating_end_address', '172.16.3.253' )),
    'l3_address' : salt['pillar.get']('virl:l3_address', salt['grains.get']('l3_address', '172.16.3.254/24' )),
    'snat_dns' : salt['pillar.get']('virl:first_snat_nameserver',salt['grains.get']('first_snat_nameserver', '8.8.8.8')),
    'snat_dns2' : salt['pillar.get']('virl:second_snat_nameserver',salt['grains.get']('second_snat_nameserver', '8.8.4.4')),
    'l3_port' : salt['pillar.get']('virl:l3_port', salt['grains.get']('l3_port', 'eth3' )),
    'ramdisk' : salt['pillar.get']('virl:ramdisk', salt['grains.get']('ramdisk', False)),
    'ank' : salt['pillar.get']('virl:ank', salt['grains.get']('ank', '19401')),
    'ank_live' : salt['pillar.get']('virl:ank_live', salt['grains.get']('ank_live', '19402')),
    'stdport' : salt['pillar.get']('virl:virl_webservices', salt['grains.get']('virl_webservices', '19399')),
    'uwmport' : salt['pillar.get']('virl:virl_user_management', salt['grains.get']('virl_user_management', '19400')),
    'virl_webmux' : salt['pillar.get']('virl:virl_webmux', salt['grains.get']('virl_webmux', '19403')),
    'serstart' : salt['pillar.get']('virl:start_of_serial_port_range', salt['grains.get']('start_of_serial_port_range', '17000')),
    'serend' : salt['pillar.get']('virl:end_of_serial_port_range', salt['grains.get']('end_of_serial_port_range', '18000')),
    'serial_port' : salt['pillar.get']('virl:serial_port',salt['grains.get']('serial_port', '19406')),
    'serial_timeout_disabled' : salt['pillar.get']('virl:serial_timeout_disabled',salt['grains.get']('serial_timeout_disabled', False)),
    'vnc_port' : salt['pillar.get']('virl:vnc_port',salt['grains.get']('vnc_port', '19407')),
    'vnc' : salt['pillar.get']('virl:vnc', salt['grains.get']('vnc', False)),
    'vnc_password' : salt['pillar.get']('virl:vnc_password', salt['grains.get']('vnc_password', 'letmein')),
    'guestaccount' : salt['pillar.get']('virl:guest_account', salt['grains.get']('guest_account', True)),
    'guestpassword' : salt['pillar.get']('virl:guest_password', salt['grains.get']('guest_password', 'guest')),
    'user_list' : salt['pillar.get']('virl:user_list', salt['grains.get']('user_list', '')),
    'desktop' : salt['pillar.get']('virl:desktop', salt['grains.get']('desktop', False)),
    'desktop_manager' : salt['pillar.get']('virl:desktop_manager', salt['grains.get']('desktop_manager', 'lubuntu')),
    'uwmpassword' : salt['pillar.get']('virl:uwmadmin_password', salt['grains.get']('uwmadmin_password', 'password')),
    'ospassword' : salt['pillar.get']('virl:password', salt['grains.get']('password', 'password')),
    'mypassword' : salt['pillar.get']('virl:mysql_password', salt['grains.get']('mysql_password', 'password')),
    'ks_token' : salt['pillar.get']('virl:keystone_service_token', salt['grains.get']('keystone_service_token', 'fkgjhsdflkjh')),
    'keystone_auth_version' : salt['pillar.get']('virl:keystone_auth_version', salt['grains.get']('keystone_auth_version', 'v2.0')),
    'ganglia' : salt['pillar.get']('virl:ganglia', salt['grains.get']('ganglia', False)),
    'debug' : salt['pillar.get']('virl:debug', salt['grains.get']('debug', False)),
    'ceilometer' : salt['pillar.get']('virl:ceilometer', salt['grains.get']('ceilometer', False)),
    'heat' : salt['pillar.get']('virl:enable_heat', salt['grains.get']('enable_heat', false)),
    'horizon' : salt['pillar.get']('virl:enable_horizon', salt['grains.get']('enable_horizon', false)),
    'cinder_enabled' : salt['pillar.get']('virl:cinder_enabled', salt['grains.get']('cinder_enabled', False)),
    'cinder' : salt['pillar.get']('virl:enable_cinder', salt['grains.get']('enable_cinder', false )),
    'enable_cinder' : salt['pillar.get']('virl:enable_cinder', salt['grains.get']('enable_cinder', false )),
    'cinder_file' : salt['pillar.get']('virl:cinder_file', salt['grains.get']('cinder_file', False )),
    'cinder_size' : salt['pillar.get']('virl:cinder_size', salt['grains.get']('cinder_size', 20000 )),
    'cinder_device' : salt['pillar.get']('virl:cinder_device', salt['grains.get']('cinder_device', False )),
    'cinder_location' : salt['pillar.get']('virl:cinder_location', salt['grains.get']('cinder_location', '/var/lib/cinder/cinder-volumes.lvm' )),
    'dummy_int' : salt['pillar.get']('virl:dummy_int', salt['grains.get']('dummy_int', False )),
    'controller' : salt['pillar.get']('virl:this_node_is_the_controller', salt['grains.get']('this_node_is_the_controller', True )),
    'controllerhostname' : salt['pillar.get']('virl:internalnet_controller_hostname',salt['grains.get']('internalnet_controller_hostname', 'controller')),
    'controller_ip' : salt['pillar.get']('virl:internalnet_controller_ip', salt['grains.get']('internalnet_controller_IP', '172.16.10.250')),
    'int_port' : salt['pillar.get']('virl:internalnet_port', salt['grains.get']('internalnet_port', 'eth4' )),
    'int_ip' : salt['pillar.get']('virl:internalnet_ip', salt['grains.get']('internalnet_ip', '172.16.10.250' )),
    'int_network' : salt['pillar.get']('virl:internalnet_network', salt['grains.get']('internalnet_network', '172.16.10.0' )),
    'int_mask' : salt['pillar.get']('virl:internalnet_netmask', salt['grains.get']('internalnet_netmask', '255.255.255.0' )),
    'int_gateway' : salt['pillar.get']('virl:internalnet_gateway', salt['grains.get']('internalnet_gateway', '172.16.10.1' )),
    'onedev' : salt['grains.get']('onedev', 'False'),
    'iol' : salt['pillar.get']('routervms:iol', False),
    'iol_l2' : salt['pillar.get']('routervms:iol_l2', False),
    'iosv' : salt['pillar.get']('routervms:iosv', False ),
    'iosvl2' : salt['pillar.get']('routervms:iosvl2', False ),
    'iosxrv' : salt['pillar.get']('routervms:iosxrv', False ),
    'iosxrv432' : salt['pillar.get']('routervms:iosxrv432', False ),
    'nxosv' : salt['pillar.get']('routervms:nxosv', False),
    'nxosv9k' : salt['pillar.get']('routervms:nxosv9k', False),    
    'csr1000v' : salt['pillar.get']('routervms:csr1000v', False),
    'vpagent' : salt['pillar.get']('routervms:vpagent', False),
    'server' : salt['pillar.get']('routervms:UbuntuServertrusty', True),
    'lxc' : salt['pillar.get']('routervms:lxc_server', True),
    'lxciperf' : salt['pillar.get']('routervms:lxc_iperf', True),
    'lxcroutem' : salt['pillar.get']('routervms:lxc_routem', True),
    'lxcostinato' : salt['pillar.get']('routervms:lxc_ostinato', True),
    'iolpref' : salt['pillar.get']('virl:iol', salt['grains.get']('iol', True)),
    'iol_l2pref' : salt['pillar.get']('virl:iol_l2', salt['grains.get']('iol_l2', True)),
    'iosvpref' : salt['pillar.get']('virl:iosv', salt['grains.get']('iosv', True)),
    'iosxrv432pref' : salt['pillar.get']('virl:iosxrv432', salt['grains.get']('iosxrv432', True)),
    'iosxrvpref' : salt['pillar.get']('virl:iosxrv', salt['grains.get']('iosxrv', True)),
    'csr1000vpref' : salt['pillar.get']('virl:csr1000v', salt['grains.get']('csr1000v', True)),
    'iosvl2pref' : salt['pillar.get']('virl:iosvl2', salt['grains.get']('iosvl2', True)),
    'nxosvpref' : salt['pillar.get']('virl:nxosv', salt['grains.get']('nxosv', True)),
    'nxosv9kpref' : salt['pillar.get']('virl:nxosv9k', salt['grains.get']('nxosv9k', True)),    
    'vpagentpref' : salt['pillar.get']('virl:vpagent', salt['grains.get']('vpagent', True)),
    'serverpref' : salt['pillar.get']('virl:server', salt['grains.get']('server', True)),
    'lxcpref' : salt['pillar.get']('virl:lxc_server', salt['grains.get']('lxc_server', True)),
    'lxciperfpref' : salt['pillar.get']('virl:lxc_iperf', salt['grains.get']('lxc_iperf', True)),
    'lxcroutempref' : salt['pillar.get']('virl:lxc_routem', salt['grains.get']('lxc_routem', True)),
    'lxcostinatopref' : salt['pillar.get']('virl:lxc_ostinato', salt['grains.get']('lxc_ostinato', True)),
    'neutron_bridge_flooding' : salt['pillar.get']('virl:neutron_bridge_flooding', salt['grains.get']('neutron_bridge_flooding', False)),
    'vmm_mac' : salt['pillar.get']('virl:vmm_mac', salt['grains.get']('vmm_mac', True)),
    'vmm_win32' : salt['pillar.get']('virl:vmm_win32', salt['grains.get']('vmm_win32', True)),
    'vmm_win64' : salt['pillar.get']('virl:vmm_win64', salt['grains.get']('vmm_win64', True)),
    'vmm_linux' : salt['pillar.get']('virl:vmm_linux', salt['grains.get']('vmm_linux', True)),
    'std_clients' : salt['pillar.get']('virl:virl_clients', salt['grains.get']('virl_clients', True)),
    'cml' : salt['pillar.get']('virl:cml', salt['grains.get']('cml', false )),
    'dist_upgrade' : salt['pillar.get']('virl:dist_upgrade', salt['grains.get']('dist_upgrade', True)),
    'no_upgrade' : salt['pillar.get']('virl:no_upgrade', salt['grains.get']('no_upgrade', True)),
    'openvpn_enable' : salt['pillar.get']('virl:openvpn_enable', salt['grains.get']('openvpn_enable', False)),
    'openvpn_tcp' : salt['grains.get']('openvpn_tcp', True),
    'openvpn_client_ip_start' : salt['grains.get']('openvpn_client_ip_start', '172.16.1.20'),
    'openvpn_client_ip_end' : salt['grains.get']('openvpn_client_ip_end', '172.16.1.39'),
    'ram_overcommit' : salt['pillar.get']('virl:ram_overcommit', salt['grains.get']('ram_overcommit', '2')),
    'cpu_overcommit' : salt['pillar.get']('virl:cpu_overcommit', salt['grains.get']('cpu_overcommit', '3')),
    'web_editor' : salt['pillar.get']('virl:web_editor', salt['grains.get']('web_editor', False)),
    'packet' : salt['pillar.get']('virl:packet', salt['grains.get']('packet', False )),
    'cluster' : salt['pillar.get']('virl:virl_cluster', salt['grains.get']('virl_cluster', False )),
    'compute1_active' : salt['pillar.get']('virl:compute1_active', salt['grains.get']('compute1_active', True )),
    'compute2_active' : salt['pillar.get']('virl:compute2_active', salt['grains.get']('compute2_active', False )),
    'compute3_active' : salt['pillar.get']('virl:compute3_active', salt['grains.get']('compute3_active', False )),
    'compute4_active' : salt['pillar.get']('virl:compute4_active', salt['grains.get']('compute4_active', False )),
	'kilo' : salt['pillar.get']('virl:kilo', salt['grains.get']('kilo', false)),
    'mitaka' : salt['pillar.get']('virl:mitaka', salt['grains.get']('mitaka', false)),
    'compute1_hostname' : salt['grains.get']('compute1_hostname', 'compute1' ),
    'compute2_hostname' : salt['grains.get']('compute2_hostname', 'compute2' ),
    'compute3_hostname' : salt['grains.get']('compute3_hostname', 'compute3' ),
    'compute4_hostname' : salt['grains.get']('compute4_hostname', 'compute4' ),
    'download_proxy' : salt['pillar.get']('virl:download_proxy', salt['grains.get']('download_proxy', '')),
    'download_no_proxy' : salt['pillar.get']('virl:download_no_proxy', salt['grains.get']('download_no_proxy', '')),
    'download_proxy_user' : salt['pillar.get']('virl:download_proxy_user', salt['grains.get']('download_proxy_user', '')),
    'host_simulation_port_min_tcp' : salt['pillar.get']('virl:host_simulation_port_min_tcp', salt['grains.get']('host_simulation_port_min_tcp', '10000')),
    'host_simulation_port_max_tcp' : salt['pillar.get']('virl:host_simulation_port_max_tcp', salt['grains.get']('host_simulation_port_max_tcp', '17000')),
    'pypi_mirror' : salt['pillar.get']('virl:pypi_mirror', salt['grains.get']('pypi_mirror', False )),
    'pypi_mirror_location' : salt['pillar.get']('virl:pypi_mirror_location', salt['grains.get']('pypi_mirror_location', '172.23.175.103' )),
    'pypi_mirror_index' : salt['pillar.get']('virl:pypi_mirror_index', salt['grains.get']('pypi_mirror_index', 'http://172.23.175.103:4040/root/pypi/' )),
    'venv' : salt['pillar.get']('behave:environment', 'stable' ),
    'virlweb' : salt['pillar.get']('files_checksums:virlweb', '' ),
    'cmlweb' : salt['pillar.get']('files_checksums:virlweb', '' ),
    'registry_ip' : salt['pillar.get']('virl:l2_address2', salt['grains.get']('l2_address2', '172.16.2.254/xx' )).split('/')[0],
    'registry_port' : salt['pillar.get']('virl:docker_registry_port', salt['grains.get']('docker_registry_port', '19397' )),
    'docker_version' : salt['pillar.get']('version:docker','2.4.0'),
    'registry_version' : salt['pillar.get']('version:docker_registry','2.4.0'),
    'registry_file' : salt['pillar.get']('docker:registry_file','registry-2.4.0.tar'),
    'registry_file_hash' : salt['pillar.get']('files_checksums:docker_registry','0c79a98a8a2954c3bc04388be22ec0f5'),
    'tap_counter_file_hash' : salt['pillar.get']('files_checksums:tap_counter','a4eae90640eb3fd9983b4b93ad809c63'),
    'registry_docker_ID' : salt['pillar.get']('docker:registry_id','0f29f840cdef'),
    'tapcounter_docker_ID' : salt['pillar.get']('docker:registry_id','fd89e345206b'),
    'l2_address2_iponly' : salt['pillar.get']('virl:l2_address2', salt['grains.get']('l2_address2', '172.16.2.254/xx' )).split('/')[0],
    'l2_address_iponly' : salt['pillar.get']('virl:l2_address', salt['grains.get']('l2_address', '172.16.1.254/xx' )).split('/')[0],
    'l3_address_iponly' : salt['pillar.get']('virl:l3_address', salt['grains.get']('l3_address', '172.16.3.254/xx' )).split('/')[0],
    'virl_type' : salt['grains.get']('virl_type', 'stable' )
}
%}

