virl:
  public_port: {{salt['grains.get']('compute2_public_port', 'eth0')}}
  l2_port: {{salt['grains.get']('compute2_l2port', 'eth1')}}
  l2_port2: {{salt['grains.get']('compute2_l2port2', 'eth2')}}
  l3_port: {{salt['grains.get']('compute2_l3port', 'eth3')}}
  internalnet_port: {{salt['grains.get']('compute2_internalnet_port', 'eth4')}}
  controller_ip: {{salt['grains.get']('compute2_internalnet_controller_ip', '172.16.10.250')}}
