[Unit]
Description=virl-vis-mux
After=syslog.target

[Service]
Type=simple
StandardOutput=journal
StandardError=inherit
ExecStart=/usr/local/bin/virl_live_vis_muxes
Restart=on-abort

[Install]
WantedBy=multi-user.target
