[Unit]
Description=virl-vis-processor
After=syslog.target

[Service]
Type=simple
StandardOutput=journal
StandardError=inherit
ExecStart=/usr/local/bin/virl_live_vis_processor
Restart=on-abort

[Install]
WantedBy=multi-user.target
