{% from "virl.jinja" import virl with context %}
#export OS_PROJECT_DOMAIN_ID=default
unset OS_PROJECT_DOMAIN_ID
export OS_PROJECT_DOMAIN_ID
#export OS_USER_DOMAIN_ID=default
unset OS_USER_DOMAIN_ID
export OS_USER_DOMAIN_ID
export OS_PROJECT_NAME=admin
export OS_TENANT_NAME=admin
export OS_USERNAME=admin
export OS_PASSWORD={{ virl.ospassword }}
export OS_AUTH_URL=http://{{ virl.controller_ip }}:35357/{{ virl.keystone_auth_version}}
export OS_SERVICE_TOKEN={{ virl.ks_token }}
export OS_SERVICE_ENDPOINT=http://{{ virl.controller_ip }}:35357/{{ virl.keystone_auth_version}}
export OS_IMAGE_API_VERSION=2
export OS_ENDPOINT_TYPE=internalURL

